/* ----------------------------------NAV BAR---------------------------- */
.nav-item{
    font-size: 20px;
}
.nav-item:hover{
    transform: scale(1.2);
}
#searchBar{
    font-size: 20px;
}
#alternarTema{
    size: 40px;
}
/* ---------------------------------------------------------------------------------- */