/* ----------------------------------NAV BAR---------------------------- */
#linkNavegacao{
    font-size: 20px;
    transition: transform 0.3s ease;
}
#linkNavegacao:hover{
    transform: scale(1.1);
}
#searchBar{
    font-size: 20px;
}
#alternarTema{
    font-size: 30px;
    margin-right: 20px;
}
#navbar {
    background-color: rgb(143, 94, 44); 
}

#navbar .nav-link, #navbar .navbar-brand {
    color: white;
}
.navbar-brand{
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}
/* --------------------------------------------MAIN------------------------------ */
h1 {
    margin-top: 50px;
    margin-bottom: 10px;
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.box-titulo{
    background-color: rgb(81, 77, 73);
    color: white;
    margin-top: 20px;
    padding: 10px;
   
}
/* ----------------------------------------------FOOTER------------------------------  */
.footerLink{
    color: rgb(212, 211, 211);
}
footer{
    margin-top: 620px;
    text-align: center;
}